doctype html
html
  head
    meta(charset='utf-8')
    title Заголовок
    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
    link(rel="stylesheet", href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css")
  body
    .root
      header
        section.top
          div
            p CUSTOMER SUPPORT 1-888-510-2060
            nav
              ul#menu-top-menu
                li#menu-item-3366
                  a(href='javascript:void()') Account
                li#menu-item-3364
                  a(href='javascript:void()') Wishlist
                li#menu-item-3362
                  a(href='javascript:void()') Checkout
                li#menu-item-3360
                  a(href='javascript:void()') Log In    
                li#menu-item-3360
                  a(href='javascript:void()') Sign Up  
        .main-header-wrapper
          section.main-header.cf
            p(itemtype='http://schema.org/Organization', itemscope='itemscope', class='title')
              a(href='javascript:void()') LEO SHOP
            nav
              ul#menu-main-menu
                li#menu-item-2955
                  a(href='javascript:void()') HOME
                li#menu-item-2956
                  a(href='javascript:void()') WOMEN
                li#menu-item-2957
                  a(href='javascript:void()') MEN
                li#menu-item-2958
                  a(href='javascript:void()') OTHER
                li#menu-item-2959
                  a(href='javascript:void()') PURSHARE
                li#menu-item-2960
                  input(type='text') 
                li#menu-item-2961
                  a(href='javascript:void()')
                    i(class="fa fa-credit-card-alt fa-2x", aria-hidden="true")
                li#menu-item-2962
                  a(href='javascript:void()')
                    i(class="fa fa-shopping-cart fa-2x", aria-hidden="true")
                li#menu-item-2963
                  a(href="javascript:void()") CART (0)
      footer
        .footer-widget-area
          .contact
            nav
              ul
                li
                  a(href='javascript:void()')
                    i(class="fa fa-car fa-2x", aria-hidden="true")
                li
                  a(href='javascript:void()')
                    p FREE SHIPPING ON ORDERS OVER $100
                li
                  a(href='javascript:void()')
                    i(class="fa fa-phone fa-2x", aria-hidden="true")
                li
                  a(href='javascript:void()')
                    p CALL US! TOLL FREE - 409-8888-0099 
          .widget
            .widget-fb
              .fb-header
                h2 FACEBOOK
            .widget-tw
              .tw-header
                h2 FROM TWITTER
            .widget-info
              .info-header
                h2 INFORMATION
            .widget-contact
              .contact-header
                h2 CONTACT US     
          .footer-nav
    .hidden

    //if lt IE 9
      script(src='libs/html5shiv/es5-shim.min.js')
      script(src='libs/html5shiv/html5shiv.min.js')
      script(src='libs/html5shiv/html5shiv-printshiv.min.js')
      script(src='libs/respond/respond.min.js')
    script.
      function loadCSS(hf) {
      var ms=document.createElement("link");ms.rel="stylesheet";
      ms.href=hf;document.getElementsByTagName("head")[0].appendChild(ms);
      }
      //loadCSS("libs/animate/animate.css"); //Load Libs CSS: Animate CSS
      loadCSS("css/header.min.css");              //Header Styles (compress & paste to header after release)
      loadCSS("css/main.min.css");                //User Styles: Main
      loadCSS("css/media.min.css");               //User Styles: Media
      //loadCSS("css/core.min.css");              //User Styles: Core
      loadCSS("css/fonts.min.css");               //User Styles: Fonts
